doctype html
html
  head
    title Hits!
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    block style
      link(rel="stylesheet" href="/style.css")
  body
    block content
      nav
        h1 &#128251; Hits!
        if profile
          form(action="/")
            input(name="search" autocapitalize="off" autocorrect="off" autocomplete="off" spellcheck="false" placeholder="🔍 Search for music")
          #profile
            if profile.image
              img(src=profile.image)
            span #{profile.displayName}&nbsp;
              a(href="logout" title="Logout") &#65339;&rarr;
        else
          #profile
            a(href="login") Login to vote
      #results
      #ranking
        table
          col.fixed(span=4)
          col
          tbody
          thead
            tr
              th(colspan=3) Votes
              th(colspan=2) Track
          tfoot
            tr
              td(colspan=5) Search for some hits to get started!
    block scripts
      script(src="https://code.jquery.com/jquery-2.2.1.min.js")
      script(src="/socket.io/socket.io.js")
      script(src="/client.js")